<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Task 1</title>
</head>

<body>
  <h1>Youtube video finder</h1>
  <label>Enter youtube video ID to find video</label>
  <br>
  <br>
  <input type="text" placeholder="Type video-id here" [(ngModel)]=youtubeId />
  <button (click)="search(youtubeId)">Search</button>
  <br>
  <br>
  <iframe width="460" height="315" [src]='safeURL' frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</body>
<!-- {{'https://www.youtube.com/embed/'+youtubeId}} -->

</html>